<div class="tenMarginGap">&nbsp;</div>

<div class="pageContent tenMarginGap">
    <h1 class="text-center">Kommende Makerspaces</h1>
    {{event-table events=futureEvents}}

    {{#if makerspace.content}}
        {{markdown makerspace.content}}
    {{/if}}

    <h2>Tidligere Makerspaces</h2>
    {{event-table events=pastEvents}}

    <p>Om du vil bli varslet ang책ende arrangementene til v책r Kodeklubb eller Makerspace, eller oppdateringer til innholdet p책 Kodegenet.no, meld deg p책 epostlisten under!</p>

    {{render "epostliste"}}
</div>