{{render "header"}}

<div id="mainArea">
    {{outlet}}
</div>

<footer class="pageContent">
    <div class="row">
        <div class="col-md-5 col-md-offset-7" style="text-align: right;">
            Designet og utviklet av <a href="http://haagen-software.no">Haagen Software AS</a>
        </div>
    </div>
</footer>