{{#link-to "chapter" chapter class="list-group-item"}}
    <span class="glyphicon glyphicon-book" style="margin-right: 5px;"></span><div class="list-group-text">{{chapter.tittel}}</div>
    {{#if view.isSelected}}
        <span class="glyphicon glyphicon-chevron-down pull-right"></span>
    {{else}}
        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    {{/if}}
{{/link-to}}

{{#if view.isSelected}}
    {{#each oppgave in chapter.subchapters}}
        <a {{bind-attr href=oppgave.anchorid}} class="list-group-item">
            <span style="margin-left: 15px">
                <span class="glyphicon glyphicon-signal"></span> <div class="list-group-text">{{oppgave.tittel}}</div>
            </span>
            <span class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></span>
        </a>
    {{/each}}
{{/if}}