<div class="pageContent">
    <div class="row">
        <div class="col-md-3">
            {{#link-to "courses"}}
                <button class="btn btn-default form-control">
                    Tilbake til Kursoversikten <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </button>
            {{/link-to}}
            {{#link-to "course" this}}
                <button class="btn btn-default form-control">
                    Tilbake til {{title}} <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </button>
            {{/link-to}}


            <h1>Kapitler:</h1>
            <div class="list-group">
                {{#each chapter in chapters}}
                    {{#link-to "chapter" chapter class="list-group-item"}}
                        <span class="glyphicon glyphicon-book" style="margin-right: 5px;"></span><div class="list-group-text">{{chapter.tittel}}</div> <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                    {{/link-to}}

                    {{#each oppgave in chapter.oppgaver}}
                        {{#link-to "chapter.oppgave" chapter oppgave class="list-group-item"}}
                            <span style="margin-left: 15px">
                                <span class="glyphicon glyphicon-signal"></span> <div class="list-group-text">{{oppgave.tittel}}</div>
                            </span>
                            <span class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></span>
                        {{/link-to}}
                    {{/each}}
                {{/each}}
            </div>
        </div>

        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>

</div>