<div class="pageContent">
    <div class="row">
        <div class="col-md-3">
            {{#link-to "courses"}}
                <button class="btn btn-default form-control">
                    Tilbake til Kursoversikten <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </button>
            {{/link-to}}
            {{#link-to "course" this}}
                <button class="btn btn-default form-control">
                    Tilbake til {{title}} <span class="glyphicon glyphicon-chevron-up pull-right"></span>
                </button>
            {{/link-to}}


            <h1>Kapitler:</h1>
            <div class="list-group">
                {{#each chapter in chapters}}
                    {{view Kodegenet.ChapterMenuItemView chapter=chapter}}
                {{/each}}
            </div>
        </div>

        <div class="col-md-9">
            {{outlet}}
        </div>
    </div>

</div>