<div class="pageContent">
    {{#if tokenVerified}}
        <h1>Din epost er verifisert! <i class="fa fa-2x fa-check"></i></h1>
    {{else}}
        <h1>Verifiserer Epost. <i class="fa fa-2x fa-spinner fa-spin"></i></h1>
    {{/if}}
</div>