<div class="pageContent mediumBottomPadding">
    <h1>{{tittel}}</h1>

    {{#if model.content.content}}
        {{markdown model.content.content}}
    {{/if}}


</div>

<div class="mediumBottomPadding"></div>