<div id="topHeaderArea">
    <div class="pageContent">
        <ul>
            {{#each page in pages}}
                {{#link-to page.route tagName="li"}}
                    {{page.name}}
                {{/link-to}}
            {{/each}}
        </ul>
    </div>
</div>
<div id="bottomHeaderArea">
    <div class="pageContent">
        <div class="headerLogo">
            {{#link-to "index"}}
                <img src="/images/kodegenet_logo.png" style="height: 45px;" />
            {{/link-to}}
        </div>
        <div class="pull-right">

        </div>
    </div>
</div>