<div>&nbsp;</div>

<div class="pageContent mediumBottomPadding">
    <h1>Velkommen til Kodegenets Elektroniske Julekalender!</h1>

    <p>Dette er første året Kodegenet har laget en egen julekalender! I julekalenderen har vi samlet alt man trenger for
        å lage et artig juleprosjekt med elektronikk og programmering. Den passer fra 12 år, og er vel så spennende for
        unge som for eldre. Gjennom 24 dager åpenbarer det seg nye komponenter og byggeklosser som settes sammen og
        programmeres til et artig og lærerikt juleprosjekt. Den perfekte førjulsgave for den som liker å ha noe å sysle
        med.</p>

    <p>I Kodegenets julekalender har vi samlet alt man trenger for å lage et artig juleprosjekt med elektronikk og
        programmering. Den passer fra 12 år, og er vel så spennende for unge som for eldre. Gjennom 24 dager åpenbarer
        det seg nye komponenter og byggeklosser som settes sammen og programmeres til et artig og lærerikt juleprosjekt.
        Den perfekte førjulsgave for den som liker å ha noe å sysle med.</p>

    <h2>Ny video guide hver dag</h2>

    <p>Hver dag fra 1. desember til 24. desember vil en ny video-guide gjøres tilgjengelig her på denne siden. Video
        guiden forteller hva som er i dagens kalendergave, hvordan den brukes og viser et eksempel på hvordan delen kan
        programmeres med Arduinoen.</p>

    <div class="row">
    <div class="col-md-12">
        <h1>Luke 24</h1>

        <p>I dagens kalender finner vi baksiden til julestjernen. Dermed er julestjernen ferdig bygget, og programmert. Du kan leke deg med hvordan lampene i stjernen er programmert, og er du riktig heldig, kan du kanskje få lov til å sette den på toppen av juletreet!</p>

        <div class="figure figure-md">
            <img src="/figurer/24des.gif">
        </div>
    </div>
    <div class="col-md-12">
        <h1>Luke 23</h1>

        <p>I dagens kalender ligger det ett veggveste til julestjernen. Denne kan skrus opp i for eksempel vinduskarmen slik at julestjernen kan henge i vinduet :)</p>

        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149856772" width="750" height="561" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 22</h1>

        <p>I dagens kalender ligger det en plastboks til alle komponentene. Vi fortsetter med å programmere julestjernen. Under finner du link til ferdig kode for i dag, men prøv deg frem med oppgavene i videoen før du ser på den!</p>

        <ul>
            <li><a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9bFpAKIehBlpbseneIga1ClDFQUA7M9moAtG4BsvAKCQnAKIBj8wcEiYlIy8kooqpo6%2Bo52qgp6AG6qWsqiWURaGGg5yvZOkVHRAGZaJmpQcMpgiQBqAIIASrwQCmoACjrA%2BPWN1TVC4xBNLW2ocoq8OhijM2qTNcC5lc2tHZ0AMgCqAKKBU1ExEtJLicnauuWWBf3llZdX1xv7Cyi5V6FD4aKoAFnWDVmWymo1Etxh0Xwu1BiMEwFC4TR0XhcXuKnUTzSCgytCygPywOKpRBVSC33Rv3mh16PAgrUUtEhE3pDOATIOiwSKzgazGUM2vO%2BOwqoL%2Bh1OF2xsNxdwSBJSzwpb3JsrpDKu%2FIl8tQ2uBKKqfm50KlfPwquVSItjvRmIitulqviig1RIMRhMZgsVi%2BBp%2BxuZqAAKgBNQZKgByZwA8npugBxABCAGok6mANIACQAWgAOAAM5etkrD2wtJpQCZOAFk9IMAJIADTORwAyqHazjYmqfUlCakXpT%2BgPB3UI4KUF1WeywJzqy7Dfbhxvrsi9TvovXIygOwmZ4Obnj1WPNfozdOD7CBf8l30BsM4OuPWG4dvv9K90qR8QjCd1Z2uL18RvP0EAUDANGwc9Z2AcxlAwBQ2lFBtYPgxDgJVYdvQecdnkMYxTHMSxrGEBR6B0JDwNdUD8L5SDr0eCcyMDSirDMNBqCIXhfwRf9wNGN0WN3B1RINUZUPQzCwMY6IJJkn82NHDjnjEag8LU2sUIwNCMIULDjx0vTlNYwioK0%2FRajoBirMZecXx6PoOQUds4EcEAv2cvkjwXAAxbpk2bJyAqEDTiNvScdVpSKoumVzEnvXVPh4KtxR5ZKAOkvLtkA1F9LEoL%2FijZMkucy8R1iv10sSySL2fNK8gSi1eCtHKbUK2EtxEvqnX3UrkPkkyzIXXso06KMzmbM4EyjaqrNqojfU4gMKODaxxGoMRaBWmrysSDtuyOI6ArW2ySLvdrCkuqKjUaBtXzZTzvN8%2Fyhs3Aqft3Z1RuUmU9mPbozgAEUe1aYo2rV7veTrmsY57ZgbRqkYAJgAVmx77%2Fqkv8CeGoCgZRk7UHTcHFuh4HYegicMb1WnVta00EYy0FeGyjZkYvAapD52TioUIXAr1BtM0VFmxPpuz4vNZmxYMtmAQ5pqeYlZW7T%2B4nRkB4mmKxMm6Zs9jbv9cigyoviBJllHVMNw05Ytxx2Vke2atVt3lA9nhsc13KnaK3Xg%2FE5iTZRgXJG1%2FrHYJ4TBcju1xsU2OQONvWXbihzDvT8MXuPN6V0UT6wnxhOKZQULws9gzs4a9WkeTlHVaZzLA96sPo%2FzkmSqdkG5WPSq6%2FUs3NIt9uud7p9UvZoFEaV7reZb%2FnQ%2F%2B%2FWRoH1PTIwBtptm%2BbFuWmeh1udaGdIrbrd4vaDtHgyq7OnsH4vBvGY51%2FkNV4uPp88ueo1mDoTQawChAi1PtcKu4MoaQO2O%2FeGC9Ob6jAQXNGx4p5VE7kA1BicY6r2QhAghF4q5UzODTOBEFx71Q%2FkgpqxDW5zzVnQrGuMK7ALwZQ8BBswGDwUJLaWXD0QILuiwpWDCxJtybkrbBQjwHr0NpvUmuD464JEZbbiO1baCTkUbJSqCqHnxunFH2fsJGsyYaY3gAd2EGM4eY%2FmqjeE9wcQBJxesXED3wDvUUvd7Eb3wO4p6ni8pySMgpXefN%2FE1UCRHVaITCFBPykTH8sTM46xSXHOJIdMngPjvY0YsAeBAA%3D">Koden fra Luke 20</a></li>
            <li><a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9bFpAKIehBlpbseneIga1ClDFQUA7M9moAtG4BsvAKCQnAKIBj8wcEiYlIy8kooqpo6%2Bo52qgp6AG6qWsqiWURaGGg5yvZOkVHRAGZaJmpQcMpgiQBqAIIASrwQCmoACjrA%2BPWN1TVC4xBNLW2ocoq8OhijM2qTNcC5lc2tHZ0AMgCqAKKBU1ExEtJLicnauuWWBf3llZdX1xv7Cyi5V6FD4aKoAFnWDVmWymo1Etxh0Xwu1BiMEwFC4TR0XhcXuKnUTzSCgytCygPywOKpRBVSC33Rv3mh16PAgrUUtEhE3pDOATIOiwSKzgazGUM2vO%2BOwqoL%2Bh1OF2xsNxdwSBJSzwpb3JsrpDKu%2FIl8tQ2uBKKqfm50KlfPwquVSItjvRmIitulqviig1RIMRhMZgsVi%2BBp%2BxuZqAAKgBNQZKgByZwA8npugBxABCAGok6mANIACQAWgAOAAM5etkrD2wtJpQCZOAFk9IMAJIADTORwAyqHazjYmqfUlCakXpT%2BgPB3UI4KUF1WeywJzqy7Dfbhxvrsi9TvovXIygOwmZ4Obnj1WPNfozdOD7CBf8l30BsM4OuPWG4dvv9K90qR8QjCd1Z2uL18RvP0EAUDANGwc9Z2AcxlAwBQ2lFBtYPgxDgJVYdvQecdnkMYxTHMSxrGEBR6B0JDwNdUD8L5SDr0eCcyMDSirDMNBqCIXhfwRf9wNGN0WN3B1RINUZUPQzCwMY6IJJkn82NHDjnjEag8LU2sUIwNCMIULDjx0vTlNYwioK0%2FRajoBirMZecXx6PoOQUds4EcEAv2cvkjwXAAxbpk2bJyAqEDTiNvScdVpSKoumVzEnvXVPh4KtxR5ZKAOkvLtkA1F9LEoL%2FijZMkucy8R1iv10sSySL2fNK8gSi1eCtHKbUK2EtxEvqnX3UrkPkkyzIXXso06KMzmbM4EyjaqrNqojfQnBzaBWmrWtQV8eFqVR6AUfyhrrPUG1C8KdoCtbbJIu92vNPVbqio1GgbRrOqys7zqKgr%2FuGoDRuUmU9mPSq3tWmKNq1Z73h%2B0G7r2gEEYy0FeAAJgAVhxv6gfRAapGagzioUUmf3GxSG2m2b5sW5bKYM2HoM4gMKODaxxGoMRtuZi9ysSDtuyOaH3tZuz4sKcXko%2B2YGwOldFG83yCcJqS%2Fw1ornWRmqhdQbozgAEVlmrJce6WHz1uXUYOo6GFOnqa21gGtddondY99EDZQdMjcWs2YZs9jLe%2B16BcY%2BW5gXcPMuyjZI4vYnJCT2TybTwLLuPTNFSDsGLbiuPMczgzUeLqoE4lUu7UBj3Ri972MWYm3zZDzTLa4zmqL4gT89W1TvcNQu%2FUcdlZH797UbH5QJ54LH1aHoQU5r9PB6X4SSdbqP8HX7XN9T7ef3wanTKU%2F6D8zuSjIUs%2Br73877tDuKtsn6U7fctlPNVsJF6G8G5THmuhFVeQ5bjrTZvDIEiMI5H2QuXdGTUq65VdpfOBdpG6EwAQoBsUNQHohHhOCub8fwIOgRjS0f9H4r3QQBTBQNDLGRpseOmc0FpLRIZ6du9VNqOXwXOT6x57bHSdonWhP5fbAM4epbhcMnrkKauI%2BBqVTSIJ%2Bsg3qG8aFDwbiNHRvs8FKJkeAh6Rc1GwKXgIhWx5iHzzxlQrB2im4ZyMdKU%2Bk1%2FisIZhw%2FhEFZGQP0F3IMPceZ82kQZX2IsezhIvIQqBU59SWO2B%2FZc38fK%2F2dr4zcdctH0P0dnBcRtTZZIIiY5%2BDVzGZVcWJMhCSmq43xpk6pZMck6JcUkoQvt%2FZnEDiU7YcT5EJJicowRC5hGOwcagpxljdEgw6dghsudzjDOMVeDuZiFFIw6eGUZ%2FxbEaJdvM6ZuS9FJObliZpqy6pyP9ORYJvEED8UEn02ED9tnRX8VLGec9LlR2niYWe2NJltNaWc3eLd3loKOW8qZoLHHuPPhrKFSKT43wmoii%2BMKL4DL0K%2FLJ0dFaf2Vl5dJfkmn5IhiFMKIDfn9M%2BWHSpJdaVPhUWjTZEcDl9ORfXdpTcDFVS5Ti2xzLkmstsd1MRMzjn715fXBFtMZpsMZis0payeHPDxSKnZ1ixmfwdidYFDDJHUpVdZMp6yKnsqqe8lyuy2pWpLpyrVbtBpgryXygpFUBXOr8ea9VgyOoWJtQSmxjKqgNMNY4uFUz3VyrRcwqairvFMx9WAtVNygk8W5rzPhqbriRK7NEl5w96UbKGcW9%2BrKlZpLVuSm1RNo1tNjRvX2RTTUs38WANCZQ8ilDaBgLQ4h20tVZcmQYvBmztibL2SNHrKX%2FE6MO5CQqw1LpqWK1ddjGmSvrS6reu7gYlQPT7T1iRMxro7X6m56UL0jrtftPVIjZ0gvdge2ZR7d3cu2e%2BimebDyntQN03pf7fXpoCVbCht7K33rZXUn6Ea631q%2FUc5tFLAELiWUqEDabrngZvRWw0KTeD6tEdXbDDbX3ftld%2BrFZycWZq5r3Z55GVIQuPQQ0to8AU%2FPY9qmO%2FxvlAsQ8e5DwbwUXLfdKsFtGeWNpRQirlUn4XxrviK85GLUE4s1fMojX9VwktrTumZxqboEafhaohm7sMhtjpup1kKlMxtOcZgDKBDGQpXQ6xJkLamBsyhKsjDm5OONQ0i%2BVLCk3sJTR5zjvD%2BbWd0yR59RrXNSII6B3DUthXsZs3szdCGjNieC05uZwb%2BVQbpVevDVmcu%2BZevHZLUbKMoec9%2B8Lib6ZRYqxliBUsGMhJzfFnLBbRbdZLVVrL6MxvQZ1W5VJ%2Bmf5ksK5J4rTbWtIdbSbablWwOTa89tllMH9mNdhc1sToWXPzsSEBs86Xxu7YZeQg7oqYPjINcJlbZ2HMXZba5zDz2OMTce3BoNvGUpHfy%2FYj7n7HMtdK2%2BmT376Mc3udYR5fc7vSkR0hnFgnMekNZXjhe0Ocuw7E9jsFq3nEU9k19rRCm%2F2iZ5Qz%2BZNOGFadzUh3TxLFsnf%2FiZmlb7PMg%2BtSJurMCGsk8p3Ttb8Pv3lfx%2BZ%2F1EHFG1Y3ftngAWUFIbJzyn7%2B92ueMi8qxXHOhti6rY%2BiZUv5kC4Bx8oHZa%2FNMrB7a2b9qRclwK4F3jTOqP67nehr19ulfXpq673LHvneVz5yiqnev1vBsN4kLxXX8c9dMX6frvFQmc4jyNotLGuGO8teWovfJuc1oyct33uv%2FeJ7fZt4p5fVWZeB9H%2B3h33eqI1%2FZ13FHXVg5%2Feni6V3AMB1uy3nbbenf1Zd%2F3qx%2FGo9z5jzbmH8eTly%2BG39vOI%2FW%2B9fbzLPfhHLesiS2vnXG%2FZcfqH2z%2BZyO7lZqY537Yd%2Fg24%2B4y%2FmbS%2FUBE9j1Kq%2FaTNjfvP3HXN%2FWnQfGHFndfGXZxaAo5QAuWcTDTGVRAsGZA%2FhUAvKcSYA6hNAgCcA2uWA5CVFJhVTJAtAnAiTdAjfKglA7JYg5eRHP3OgxEL9VgoINBUYWAHgIAA">Koden fra Luke 22</a></li>
        </ul>

        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149709413" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 21</h1>

        <p>I dagens kalender ligger det en stor 3D printet julestjerne som passer til LED lysslyngen. I dag skal vi montere LED lysslyngen inn i stjernen, før vi kan fortsette å programmere lysene.</p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149495553" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 20</h1>

        <p>I dagens kalender ligger det en LED lysslynge. Denne har 6 LED lamper (av type WS2812b) som hver har en bitte liten mikrokontroller i seg. Dermed kan vi programmere hver lampe til å lys i alle mulige farger bare ved hjelp av 1 dataledning, pluss 5V og jord.</p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149494871" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 19</h1>

        <p>I dagens kalender ligger den et 9V batteri og en koblingsledning. Dermed kan vi gjøre Arduinoen vår mobil, slik at vi kan kjøre programmene våre uten at Arduinoen er koblet til en PC.</p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149493559" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 18</h1>

        <p>I dagens kalender ligger det et sett med hunn-til-hann ledninger som vi kan bruke for å få sensoren vår til å bli litt mer mobil! </p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149492393" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 17</h1>

        <p>I dagens kalender ligger den Ultrasonisk sensor. Denne består av en høyttaler og en mikrofon som vi kan bruke til å måle avstand ved hjelp av lyd!</p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149493391" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Luke 16</h1>

        <p>I dagens kalender ligger det en Thermistor og en motstand. Thermistoren er en egen type komponent som varierer motstanden avhengig av dens temperatur. Vi kan dermed bruke Thermistoren til å måle temperaturen i rommet!</p>


        <div class="figure figure-sm">
            <iframe src="https://player.vimeo.com/video/149491459" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
        <div class="col-md-6">
            <h1>Luke 15</h1>

            <p>I dagens kalender ligger den en 3D printet holder for det medfølgende knapp-cell batteriet. Sammen med den, en LED lampe og en av LED hattene, kan du lage julepynt til for eksempel pepperkakehuset hjemme :)</p>


            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148993067" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 14</h1>

            <p>I dagens kalender ligger det en 3D printet stjerne, som du kan montere på en LED lampe. I dag er den ingen videoguide, men se om du klarer å koble opp en RGB LED lampen, og programere den slik at den veksler mellom rødt og grønt, eller at den dimmer mellom røddt og grønt.</p>


            <div class="figure figure-sm">
                <img src="/figurer/liten_led_stjerne.jpg" />
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 13</h1>

            <p>I dag skal vi lære å bruke en buzzer for å spille lyd fra Arduinoen. Vi begynner med å lage en enkel lyd, før vi avslutter med å spille alle tonene i 3 oktaver. </p>


            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148747053" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 12</h1>

            <p>I dag skal vi lære å bruke en transistor! Vi starter med å koble transistoren slik at vi kan bruke 5V og 3.3V portene på Arduinoen for å styre transistoren. Deretter kobler vi om og lærer hvordan vi kan styre transistoren fra Arduinoens digital porter.</p>


            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148709866" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 11</h1>

            <p>I dag skal vi bruke snøfnugg LED hatten og juletreet, og programmere dem med trykk knappen vår. Vi starter med et nytt prosjekt i Blockuino!</p>


            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148647287" width="250" height="187"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 10</h1>

            <p>I dag skal vi bruke 3 lys sensorer for å lage en elektrisk farge-generator. Ved hjelp av lys,
                lyssensorene, RGB LEDet og det 3D printede juletreet, skal vi programmere Arduinoen slik at vi kan lage
                alle farger (65.536 av dem) ved å flytte på fingrene våre over lys sensorene!
                farger!</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aLNEtGNBeUQNClDFQB2AAwfZqAC0AKwsvAKCQgBmWgoQalBwymBKKABqAIIASrwQCmrA%2BDFxavyR0bHxicmpcoq8OhiFxfFlkcCWrgrVKaiZADIAqgCi4eWCImJSMvKpqpo6%2Bpa01rbOXWPjEy0JSb0oy6t56268TEzNlaUR5YWiEpJtE%2Fidbk9CcAogGO8T99N1ObqbS6AxGEy0MyHGzHeyOE7uX7tHY9VKZHI8PJqADitGocDglxKSO2V1RqEBDTgTSKVxJQle3T2aIyQ1G9L%2BU2kgJUwMWzhWMKhLlOHORZOZqGha0ZZx8RNaNy2Qnw%2F0eStuLxFCnpwE%2B3zFkweM0UvIWoMMxlMAqOdgcTllYtJJXJ6WyuXyACETArrsrxsAUZKUJSeI1fU6GdrXQMRpt%2Fbc1SageallYhQj4wnbkGalL0zLtbwWBGNQm7lzI4VGVX9T8y%2F6jQDZmaQfpLRDhYK1nCHUXIzmJXm3Rj4rQLrTiQ3y7n9qHw5PFdmth1o8HY%2Bzp9mm9yWyh5m2bRnHVvl4Gh%2FtpcdHfLF37lyvVZXT4%2Bay%2BA3WBwGkzz93zQQgCgYBo2BZg%2BtwIBgygYAoKTUq6gHAaBX6Nj%2Be4Hvy2A6GA1CGEethgeBK6zqkAAqsy8AA8oMpEAAo0aWRHboyrq0QAkgAcoRTHflyyatvyV6Iu%2BPHni667upi%2BSMTx5ZPg8KFyW%2BsnKnqXz1ipqF8b%2BGGglhcA4XhQncZpzpVMG5H1Dw1F0Qxd6KQ%2Bq5dKxnEmaZnLGjp%2F5pt2eRue5Zm7MO6Iemo3rKDJAWPmqDlnlqXSxdun4ibJO78X%2BqZ6Pphldra%2FkBWJ5nDpZiI2fRpGRVFK4scG7FcYlTFpV5mXGQ1okkX0klYri%2BKEvZKWmRWCkDal8VvCNonJVV25oaaGWHtluG5UK%2BXTYVQX7CVvCceVlXTapNXDnVq37U16HefhfltZp60xl1ajjnt%2B2qfJUjXUR1bau94FqQaE3uWdc26fogGChAejCAo9A6LwQ1vf9KmFFNz3Rc%2BKOasjKNw%2BqWP4JjUXY99SPqddhMIyqkHQbBCjUg1v0aQDs0poeYjUMh5MQVBMFwRgrqs%2Bzp1MwJFpaNDUHg0QKwwZdwlY4d%2BzHd9K5C%2FNgkFldHNnh1I6hU9VVk7jynPU5bguRxpEAJq0Zu6NCCrwN6GgotOGIRAnTd2scRkACy7L9JRADqesE69OPG2NOqayu%2BOC9p52ZWoosOC4eiSw4y0EUrB1rkdrlZ1pnnx4erVRz92shVJOJ4gSwenaH%2BcBhHDe3PLqR1Zb1vu4N9sXU79Au9QbvN6pns%2B37ge12t9el42Tcz6pMfo4DzP8onYsp2n0sl7b1U5wrefz45Pcterss7425ddV6Pr9efqPDXf7Rz4%2FEyt6g7dWzbL8ec2QO987ehXZdzWqPX2vB%2FZB1vt%2FFUMVD5KS%2BnAxsi9z7L2Fu2cE1ohKp3tJmYe25L6jgekwNICh1BaEnrbW6wZ5zUgoUvN%2Bbo2TANjoXP%2BmVlBJDEPQPQkJlBqGYcbBhitEGpWPsXU%2BAjKEENyEQuhj8DbQNfAgxRmpYEqJVEbRR9M8FnjEfyUG1hwbYBWNSSRICLypC9mAngFthgAGU5E7xNkyYqwwAAapEzEsN%2FivUE291EjwsZ1Qh44SFkMcSg6eASn6aICdokRokVbiHxBgPEEAEB6C0FELxxswAaC5lofEUA4iASyagJgHgSmpAqTwQoeSCn4h0aJBhbEABifgmmiLjnNLhWhxB6GSWAbApgclSKCSgSitFwEVSgdExsDCMijKcXovxEjOkFWkZiIhYTE4RJUQouZL1YmHJbnvVInolmUJWT5W0uCEnmPEsOLBjoAAswRbw7HWTdKJJylEJXuYjH5vzPr%2FN%2BRMSm3Maa82DAAEUoh0gFXTWG%2BPbEncWqcpYZw1mCgMQiD44uVt0lFMtLlOM2ViPZWigUEpBeNAl7Q8Xm0%2FqSrG1zHYAKAV8waoD2QAAk2LYl5ZS6BByaXPzFWosFhQIXU1poij6LTWk1PlY1FWvT%2BmDOGZCFlDyir7EmdM4V8iFk6u8buNh4jfJn3pYOR5%2BwK5jmIaQ3ZsybWipxbSyONqozOWDBcrlSKfFoJlnc71tq9WpGef2XwHy6QqsBZK%2BlnqA2OWpYc5N8azwyp5q6OFyqk1srXsnCWmKSUpp%2Boy01a02X%2BLDRUO1LJRz5B6jXV1Sa01SvFUmxlHcv7etQarUEfcB5D0zYjHlvB%2BWCqNS%2Fd1nbjknLndE6VXNZUM2BdmqFrphj9DsX2qVha0Ub1LbWmllby0fRrWssdqVyXXwim2iVaM3VdrPWc9%2BnFe1Vv1my4dgDB7ft1RtSxY9J0CqFY%2Bj1HbgWvpg4mxd%2BBN1yo9cguZA6HaGBMLIQD3LxmYeUNhng7yZ2UOg3EvGJMb333humijf1l1kciah0j8GmOUfkYxkOzGAaccBdx0SvGfqIdXTzUmgnZ78ZeqxuKknnjScfNxpdKpF6iuJvRmBz5CiwB4EAA%3D%3D"
                   target="_blank">Link til Blockuino koden fra 9. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148463560"  width="250" height="187"  frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 9</h1>

            <p>I dag skal vi bruke en lys sensor, det vil si en lys sensitiv motstand, for å måle hvor lyst eller mørkt
                det er i rommet du befinner deg i. Avhengig av lysforholdene, får vi juletreet til å lyse i forskjellige
                farger!</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOwAGe7NQBaCgCZeAwUIAZloKEGpQcMpgSigAagCCAEq8EApqwPjBoWr8AUEhYRFRMXKKvDoYGVlhuQHAcAogGLV5ImJSMvIxqpo6%2BobGphZWNql%2Bea3V4ZHRqAnJPKlqAOIaEFUFOf4T%2BdlFsyildjwVG9ktE%2FWNzds7QqIS0kcq6tq6BkYmtGaWtNa24zuk02%2Bxi8xSaWWtGocDgZxqtyBwCmoNQR3KcEqmU2FyRDSauKB93aTy6L167wGXx%2BI1seiIWgwaGGEA0x0RRMEyJBMzBSV4kki2Gw8K2nJ23L2vLRXQxWKmhM5wEsrIUqLi8QAMgBVACigPFlweHWeKB6b30v3%2BqRZbINhsuKOlKCtoxpqt4ABZRYrxRljZJfUj8Cq2UG7lcCRzDW1Hp1FOSLXoEAoMBpsPaHXUEBhlBgFNFMeqU2mM%2BGYwH491Xn1k6nhn83Zms5dQ2rneDyy3YyayWaa%2B9XQCuy3doUO%2FzFmkfdHR3V8AGR36Q8pVUulW31UObW3m3O6pXTeba9v3Xb1w7JePiqhT7bjkwmDP98HF7PRxk2xe8ddv0Se6SCb9hS%2Bglg21rsi%2B%2F6bhOCzvlBxJxkeA6WrSYx%2FlmV7TDeGoLEsqzrNi5zwVB%2Fokhh%2F4rmuJFzsqq5sluaFnpBCFIoefbHoOTH3nurF1E6OF3ruPBMM4z58RKC7kTRH5UWGMndviNwSRK7FAZxoH1qevESXRqrqp2CmkWp1YgeBTYUR%2BAkHJ2%2BHQrC4kqRGUmPJZy5fkZtEwYJ3HCZ5%2B4AVWiYnr59EsU5SLWTEQlhbwLCORFrQuVIblKnJCipf%2BSmZUqJnBe82A6GA1CGOZw7%2BS%2BWHqgAKrKPAAPLatVAAKTUJYlrTeQczUAJIAHI6R1gXIWZ2k5d2UVzJOSztR1SVvnNkkeYtlzZRVxkkkFwFJoVcDFaVY3rQhVXOrVZQNU1rXVbNK1cl1MS9QN40fnl20hY25W3X6k24RCKxrDdX1CMlgZHaR6XPZea1AxGr0aXou37TSH3oWDfEnThZ3HI1LVtURCIw0i92oI9g0w8NHEoWVqOE99PI4bZkL2XC%2BNirTzkLezSXLVzdTQ7zrRw1TiMlcjEFk4TGMHFjvD9VdeitZqOrNYDXN6Qxzqk5DrEU%2BpVOHQLSo%2FZ2grKMKqu82Rrlo05n5hdrtEgw7mH4PzatOzbjtu0DVspZ7Mau7%2B%2FuUZzc0ZN7tse4l4dB5HofHYHUY61HlX4DmeYFgomIUZGynHULZliNQZae8A6f5oWGDqkXJe2694gwhg0IQAgehaIEEsfmAGi5hgWgwlAoQpqgTC8Bk3e9%2F3cCQ%2Br7Y4T1ABirgO7rMRiPQWjiHoDdgNgpid5VP31c1vC6gAihbOvEyg8QHxtSGU2ZahaBvuYQHo3zKGod%2FHdfWvBxWTaI0kwG3ZlLPkCxTbm1Zs7Dm0lyYQwAXA62K07bUVQdfAAQj%2FAKBckxoBfsyMQRAcGH3pgcPq8QACy%2BoeCanqgAdUvujFOYdEFsPjrpdhEUy690zkWZ0AAReqy8kFcjwbWZ%2Br9Vz0j%2BPmam4Uhp%2F36qQl6QDH4gKYqo2ixtprThgWIy4rChrcLDsovq1UACazVaGGMFuovWZkCH0CIdQEhsDgRShwpQmhvAAASPVlh%2BOYcnThPDTHhLCcncu%2FC862xiZXdUupNQAGVbFhwkZSF%2BjIZFEDkWLCydihDmO0ZhTJqEUaKNQbovC%2BiFRFK5MY6OETo7mKsTY0pl5yl6Gca49xDT%2BLkJiD42h9CmEGK%2Br7UGqCWkqSmTPNOfDK4zwjnM7phgTCyE6UbIZqANnKC2TwCgYkJkmKiQnVZ4NzmyQSVnOJqdrnLkucuR5klnmSVecDd5wNzkxyTkY%2BOfy87zL4BkWAPAgA%3D%3D"
                   target="_blank">Link til Blockuino koden fra 8. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148344811" width="250" height="187" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 8</h1>

            <p>I dag skal vi bruke en trykk knapp og bruke Arduinoen for å måle om knappen er trykket ned eller ikke. Vi
                slår deretter av og på en LED lampe når vi trykker eller slipper knappen.</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOwAGe7NQBaCgCZeAwUIAZloKEGpQcMpgSigAagCCAEq8EApqwPjBoWr8AUEhYRFRMXKKvDoYGVlhuQHAcAogGLV5ImJSMvIxqpo6%2BobGphZWNql%2Bea3V4ZHRqAnJPKlqAOIaEFUFOf4T%2BdlFsyildjwVG9ktE%2FWNzds7QqIS0kcq6tq6BkYmtGaWtNa24zuk02%2Bxi8xSaWWtGocDgZxqtyBwCmoNQR3KcEqmU2FyRDSauKB93aTy6L167wQCgwGmwgKJlwQGGUGAU0UxqJQVJpdMJDMEbUenUU5Le%2Bm5wz%2Bo2OiP5rUsEA0Ck54L5crqDw6zxQPTFkv%2BYzV6rqKJmYKSEPS2POsuNAvwmskRv5GQVSudDOAbuVZtQvwNP2Uipldrugq1ZJ1rz6%2Bulw2D9NDl1NxT9I1s8aVvCYTHhWyTlwdJI9RNdQfdtvVVwJleN4dJIqjFPF1NjAJLcq95Z9qbiFo7Vcdwu60fe%2FuliYLO2RIN9fYWS1W62tCKnYaLjwHnvw3q3pe9nPHGe9k7XxKF2t1MaPqUzIbP05TBxvgYTPCYzjze%2B3ju%2F693tZ2tWNwPq0Q6XqOLYYG2hqAQWXbBiq%2FZwVO9bDqK17prBoGlk%2B5oLpC0Kwl%2BKHwRuUh%2FtuAE4fK3aHlhr5ZpRLrgZGV5jgxd6njRuyFHOL5cTwLAkTxrTkU6pFATu3bMXi1yyaWrGNux%2BjYDoYDUIYMH3qJJqzr2AAqXS8AA8gAqgZAAKFkibpdQHnOlkAJIAHLcaJaEQc22nubpM57HOqpLLZdl1OJClUTJknwfiIGhRqJLoU2epqXAGlaS%2BvkeXhqBGWUPDmVZNkrvm8W0YhjmuVlflKSO3mZRFSb%2BXxvZBZCawhWVYW%2FtFZ5lsGjWdrFg2DolXkpepmmBlK7a9ThzXTIZxkFRZ1kGZ1XX2XRlVuSNoaeWxkE%2BXtTU5fOlpQjCcIlSddbhXNoH9RWm1iT1L1CPgw0Pft91lRkX2hRkb0eZ98nfeuwMPv9YNQ79qGgzWZGQ1W%2BBMiybIKJie7AX%2BB3KUdYjULy4PAGjrLshgnKE8TUO1Rh7yBHQ1VVmdqoVJjCBaKyWJTI1CFKpyABiiQmQAsszdZ08lmEzbeJ4nQt9Gy4xxyfjd4PTnDsPUY9DmGSZEujReh31Zx8sa2GZ0CfLTDeI4G19Vrjs61DZMYxyc4AMoGfEBkAKKi37LkGYbnZSypejKJEYj0HoRB%2FKyodVnrBzObtFtIuHR0NRnuH6QcbVWrzuea8j83SQNJdbRVrXxAAMmZftJ5LY0m3qOd%2Faz%2Fbs4gXPUg75dl49FfPR5AN2XjdV6oYJiyM3QFnTPyhzzw3hq8XgNO%2BX4%2BD8WucZG7FN8zvj1Z95jO0PPnpdwsPec9zA99SnMTC2LV8sa3%2BOm8rglV4%2B%2BcxGtt2Xg68cR%2F26nvPyI8FAK2frlA2t1zwRi%2Fu3M2wDEECitmgt8tt7bq03kPbWUU%2FKH0xpTL2Pt%2FaB2Du%2FT0Z89RRyDNQWO8c%2B60JdHAlAad2Fh0%2FlPGWAYeEswAXMfsi4iLXQ3l1IGkD4pPRgeA8qAtAr10bkIuhfD6b6A7i9RWKjb6Yg5n3HmYDNoyM3IosKLsJ4n0BvQmMS8V6WP%2FgFXsjjeBr0fjxcxFFnEfVsTRHxEkoGkKxuAnGljJ5aL0BfdRlsRHnROIY3uD98FyM4a%2FcWGCErGxQQIuM5t3p6N7EAnBdsvGBK3iDaxflOEGQQX4gU9iOI%2F0KborBrT0GgJtGYqp3joHZNJsycmZDOTe19gHIOIdslNM0dLd4jCY5xwTjpaRnDuEzMuM07RDE4l1hvpaCpUDCETwGY06uyja4NybpssCcyI46PepghJbNkn337mkopfTTk1LkQEv62yPizz2cI1xBx3Gr26auJ5QTbn%2BJhtI755dQlxUBv8jygLYlwuKQXbubzjFHMCRkkWWTzl3NyfwlpAZf5PL0mCwB2CmK4MJf0k5UDfmAzqQ02lUT5k7M6W%2BMlyYEmlKYlC0qXy2XVOIbolFYzKGTJoXC2ZFLomLOYcsthyqLk9lTlVbV5LkGUv5YIg1wr6WiIIisCRLLTlSs3hytZ20rlqLNSqo10THm0rpS1XFBjWQpI%2BVI71H17U%2FJlTy9FZjAUQqFUiReoRl4ePFW60NsieUI1RbopFIMUWbNhX46GiM7XpsqVGpqOa7rls7JW0sqNhnuyzXdMNYlq0QIsTW8tBakSZsJN2sK48C0ZFgDwIAA"
                   target="_blank">Link til Blockuino koden fra 7. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148335176" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 7</h1>

            <p>Vi programmerer et lite 3D printet juletre ved hjelp av RGB LED lampen. Sammen med juletreet er det også
                en 5mm RGB LED i posen.</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOwAGe7NQBaJrwGChAMy0FCDUoOGUwJRQANQBBACVeCAU1YHxA4LV%2BPwCgkLCIqLlFXh0MNIyQ7L9gOAUQDGqckTEpGXko1U0dfUNjUwsrG2SfHObK0PDI1DjEnmS1AHENCAq8rN8x3MyC6ZRiux4ytcymsdr6xs2toVEJaQOVdW1dAyMTWjNLWmtbUZvxutdlFZkkUotaNQ4HATlVrgDgBNgagDqU4OV0uszgi6g1sQDbq0Hh0nt1XggFBgNNh%2FgTzggMMoMApIujkSgKVSafi6YIWvd2opSS99JzBj9hod4bzmpYIBoFOzQTyZTU7m1HiguiLxb8RirVTUkVMQQkwalMadpYa%2Bfh1ZIDby0nKFY66cAXYqTahvnqvsp5VKbTd%2BRqSVrnj1dZLBoHacHzsbCj6hrZYwreEwmLCNgnznaiW6Cc6A67raqLnjy4bQ8ShRGyaLKdG%2FkWZR7S17kzEzW2K%2FbBZ1I69fZL43mtoigd6e3MFstVpa4ROQwX7n33fhPRvi572aO057xyvCQLNdqowfkumgyfJ0m9lf%2FXGeExnDmd5v7Z%2FV9vqzbKyuO9mgHc9hybDAW31f88w7QMlV7GCJ1rQdhUvVNoOA4sH1NOdwUhaEPyQ2C1ykH9Nz%2FLDZU7fcMOfDNyKdUDwwvEc6JvY8qO2fIZyfDieBYIiuOaUiHWIgCt07RicUuaTi2Y%2BtWP0bAdDAahDCg29hKNaduwAFQ6XgAHkAFU9IABTMoTtJqPcZ3MgBJAA5TjhJQsDG001ztKnHYZ2VBZrJsmpRLkiipPE2DcSA4K1SJVCGx1FS4DUjSn28tycNQAySh4UyLKspdc1i6j4Ps5yMp8hSh089KwoTXyeO7ALwRWIKSpC79IpPEtA3q9tov6%2Ft4o8pLVPU%2F0JVbbqsMayZ9MMvKzMsvT2o62yaPKlyhuDdyWPArydoarLZ3NCEoRhIqjprUKZuA3qy3WkSuqeoR8EGu7dtukq0g%2B4K0hetz3tkz7V0Bu9fpBiHvuQ4GqxI8GK3wBkmRZBR0R3QCfz2xSDrEahuVB4AUeZVkMHZfHCYh6q0NeNQtHoLRGQgPQiB%2BZlDtB0qFXZRztq584acS9CpswzLdL2FqLQmIaAcLAXbUo%2B67O7Pm9IATXMgBRSqAKFpS9DQBm0D0MQiF13aTqc2IAFkdZ4AAJBzFgdtaeph6GlYhv6qJxmqdXpxnmdZ9nJr9C2AJVvY%2BYj3b9YOuqFewiXcLOtqrqTycPd9yS%2BszjaytV5yNe12O9ZG%2FbPKN%2BgTbNsvLZT1Brbt3gABkjIAdTd2bs57r3fZ9qqK9xzzA6ZgMQ6ZsOx2uguea2%2BuGvj2q6MX2CTql87CIz9a5fXfOs%2F7nyo6iNXNftg%2BQ2XnVq9r6hzdn%2B9G5QZv7fbrud46veyMvkSj7cwesU%2Fa016MEZQsg17HWfoYEwECeAACZnBIO7jZLGv95LD39lGMewc2ZT05q9bmXZo4VUfkxTBICCGEKfn5ZqvZAqf2obaRGr0HoKDIQiE%2BqAz6lw4Rgs8lcb7G1NvfSBs0ra2zfp3FBu9e5PTYXwycgDqHAOFnTBm48WZ4I5onJh5wuEoBjoo8hAiR46l0XokMG96GtUXDLdBX0WFMIUQ4isBieEX0sYLChaj9C3xEQ%2FVxDdaF7FfrwJ2LsZGEO%2FmJLxisIpxKEMoyxqiDY4Into6e01ElEN5qQoJS8fEGwsTkxMz9N4EUuvY0pz15Y1Lev%2FLxcF55FyciXTx9TTxhjMVGfxddjHBKaqEyRbdpGMJqTEgZTpc6PQmckxJqSDowPAWIoBJ1llwMQcg8Z9S0GdO8aYrB6ig4ZNDlQ%2FZuSF5TJXIsleostIXJoUM1O8wUhRN2XI%2FZLjHmXNae01ZrDr69OEf0gpXE5rsjCTwd%2B7yJmfM6d8n5fJ5kXNuQHDRuCzklKRXPYhp98k4qvkUhOq9rm%2B2sXhJY6dqmEvzE4pFiLaVCHccXc%2BALnFAteH00RZLxHPyhTCnZtLJlgpzo0n5eymVxUOZQ9JWisWktFcfTarT2VNM5fobFUqykhJefOSpsKGXwsJYy7VzKVUkLaWy3lvsNWGxBTypVaz%2BUjMds7V2QrtUirNSFcVJqUVMrRdgsBcCnX%2FXWSG3gWz3yerNZKn1k47VysnjoxVCbdwWvxfzdN7o7VapzU8%2BaksbHSyxGG%2BRxqE2moLXyFlVreHlt3na7lgSa3J11U3V1ESPU0rbbU%2FefbfUJMHUkqGI6%2BRJoxac%2FB%2BbB3NLxdwgl46DndKOZqtNy7C0IUpQuQ1ObvWboacOzd868n1o6YerpdY132prgEtVOKIUzihd2vd6aD0npmewxt8iA19qDcczRKasli0vbWzNi7s1gZAsSu54cbVNIpWdA1sbP30uXdWw9p6tr%2FIQxy2DQi72gug1u59rrBW9pIx%2BsDmGT1%2FvHQB0BsCH2BojcxhBSCY2UZI6O%2BGPGV3XtlVO%2BVM6N38f0RBwxS7xOJoIyLeDP6vlIdeaWq0MmwZ1PU0OvOWncVntw4piZzaHWtt0zq55naW5usiah%2Fj1H1O0bs%2FRqjk6TkidTfclj%2B661eYLYx85ZnSN0J3dSstgWs7oYc1%2BvDuy60GfCwJhKBsW2%2BZrU%2B7sL73Vvqo5W8TjmHPOby65oDmSAsJfA4XS1qW23%2BdneVvkyn9UXWy3l3LWn8tmew3861hmGXGaI46%2BrCIJFWYo2Fob%2Faf4TfiTp6b8a5tJsjTFx9bGVkce2dxob9nyuQz4%2FV7bundsxUCwduzcNjsydO5eo7y3WFtZq%2Bd27QD7tVse711BL3A1vbnZ9iV3392%2FY%2BYVhFgO4k3fe%2B2UHKj%2FuPKu2DmHcLIvOIR00qHOdgc%2BTRzclHX8scSQx7DJH0MCc3SJw1HH2OyeQ5J3SzTJESZowxndOHWdgcs7en%2B074OIt0452OkVaRYA8CAA%3D"
                   target="_blank">Link til Blockuino koden fra 6. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/148065401" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 6</h1>

            <p>I dag er det klart for å pakke opp en kul 10mm RGB LED lampe, og programmere denne med Arduinoen! RGB
                Lamper består av 3 LED lamper med fargene rød, grønn og blå inne i en matt kuppel. Dermed kan vi få frem
                alle farger vi møtte ønske oss!</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOwAGe7NQBaJrwGChAMy0FCDUoOGUwJRQANQBBACVeCAU1YHxA4LV%2BPwCgkLCIqLlFXh0MNIyQ7L9gOAUQDGqckTEpGXko1U0dfUNjUwsrG2SfHObK0PDI1DjEnmS1AHENCAq8rN8x3MyC6ZRiux4ytcymsdr6xs2toVEJaQOVdW1dAyMTWjNLWmtbUZvxutdlFZkkUotaNQ4HATlVrgDgBNgagDqU4OV0uszgi6g1sQDbq0Hh0nt1XggFBgNNh%2FgTzggMMoMApIujkSgKVSafi6YIWvd2opSS99JzBj9hod4bzmpYIBoFOzQTyZTU7m1HiguiLxb8RirVTUkVMQQkwalMadpYa%2Bfh1ZIDby0nKFY66cAXYqTahvnqvsp5VKbTd%2BRqSVrnj1dZLBoHacHzsbCj6hrZYwreEwmLCNgnznaiW6Cc6A67raqLnjy4bQ8ShRGyaLKdG%2FkWZR7S17kzEzW2K%2FbBZ1I69fZL43mtoigd6e3MFstVpa4ROQwX7n33fhPRvi572aO057xyvCQLNdqowfkumgyfJ0m9lf%2FXGeExnDmd5v7Z%2FV9vqzbKyuO9mgHc9hybDAW31f88w7QMlV7GCJ1rQdhUvVNoOA4sH1NOdwUhaEPyQ2C1ykH9Nz%2FLDZU7fcMOfDNyKdUDwwvEc6JvY8qO2fIZyfDieBYIiuOaUiHWIgCt07RicUuaTi2Y%2BtWP0bAdDAahDCg29hKNaduwAFQ6XgAHkAFU9IABTMoTtJqPcZ3MgBJAA5TjhJQsDG001ztKnHYZ2VBZrJsmpRLkiipPE2DcSA4K1SJVCGx1FS4DUjSn28tycNQAySh4UyLKspdc1i6j4Ps5yMp8hSh089KwoTXyeO7ALwRWIKSpC79IpPEtA3q9tov6%2Ft4o8pLVPU%2F0JVbbqsMayZ9MMvKzMsvT2o62yaPKlyhuDdyWPArydoarLZ3NCEoRhIqjprUKZuA3qy3WkSuqeoR8EGu7dtukq0g%2B4K0hetz3tkz7V0Bu9fpBiHvuQ4GqxI8GK3wBkmRZBR0R3QCfz2xSDrEahuVB4AUeZVkMHZfHCYh6q0NeNQtHoLRGQgPQiB%2BZlDtB0qFXZRztq584acS9CpswzLdL2FqLQmIaAcLAXbUo%2B67O7Pm9IATXMgBRSqAKFpS9DQBm0D0MQiF13aTqc2IAFkdZ4AAJBzFgdtaeph6GlYhv6qJxmqdXpxnmdZ9nJr9C2AJVvY%2BYj3b9YOuqFewiXcLOtqrqTycPd9yS%2BszjaytV5yNe12O9ZG%2FbPKN%2BgTbNsvLZT1Brbt3gABkjIAdTd2bs57r3fZ9qqK9xzzA6ZgMQ6ZsOx2uguea2%2BuGvj2q6MX2CTql87CIz9a5fXfOs%2F7nyo6iNXNftg%2BQ2XnVq9r6hzdn%2B9G5QZv7fbrud46veyMvkSj7cwesU%2Fa016MEZQsg17HWfoYEwECeAuGcO%2BT%2Bu9AG72vlGMewc2ZT05q9bmXZo4VUfkxYe%2FsRbh2Ie2DevZArILwbaRGr0HoKEoSGE%2BqAz6l1YQidBrxb6m3vpA2aVtbb2ydi7buT1v5iXoYrCKsihCoLwcA4WdMGbjxZtgjmicFH4N5kQ3%2BS9SEgNwbop%2Bflmo0NaouGWhivqMNkcw7hu5NpFyciXC%2BZiQLGNUfofhddnFUOfq%2FXg4jXZ0LMdIwJv55FeKxnY8uZ5K4B3UVg0OpivFzwIafAxmTJy8P0DovJ5imqSysUsAil1bHFOevLGpb1%2F6RPYSgThnj6mnjDCPG%2BxsBEPwSSuOa7IQk8HfpIyJvc4m50ejU%2BJ7SOl1jIXTMBcD%2BnIROjA8BvAABMiCkHVLmYoqGBy%2BQFIMKkieWjp7TWOXohe0SBmnKKTcxMz8pZjPaVE1ZntYnPLgvPNxHihHKNOf4wR9yeoiJbiMzu7z6mfOeXIvOCLDnw2RfMhKBtMEXPSU8tFfzskcNyWi7xSSunkJnl8mygz%2FLlIXLCg58LiUNJ%2BXi5prSgUKJUQbUFfSmUvIsXsYZoyIl4omb8qZLDKWzSUcirlB0sWaJxavcFs02VEr5SSzpizCnKqlUA6heEKkXXpeKhxxKnF6q4vi%2FR7jz4criSCnpATLVUshWI524T9kas6nU71zKkV%2BtmX6k5PjMXLPtZk6l3YNlwLfLsk1CKg3Bs1QskxCrJ7aN1cmthrjCH82zTw0NCcs0FoRAa80Ca%2BWMtLYi6ZNahBqttVwl1aCi1VydWCltUi3VtxhSK0t1aa0WvrXyGVBa5Wj3OYqnBuKR0NtzTk%2FNc7BZtp1LO5dfJy3zGsZWwNYqh0SpVVIxtgKj1MMdTXXpEbE09sdh63d3rB1zuHRulFMVX3otGhgqdGarliw%2FXyRt17ZWPJLQB%2FlpTU7bqNdvL14G3pmuXS%2B8D1qtqnq7Zyi9d9eXwcBAKqIQq%2B1wZQ%2Fu59h6MPKLHRuidAdw1nt0VGvYMbMzxv7a%2Bp97G4bvs44hgdXH6P%2FVI3uqjGqOOPv4xR6GvHE0SfE9JuZkNUWyqE8UxT3GFMqYY7Jj5mmmHacjbpoB%2BnHGGatcZ3epn3YiZ7vJqzRyfKWfbOZ92tmnPWadI5kKJM0YYzumJ4szmESabU46fzIXpSDvCww%2BWaRYA8CAA%3D%3D%3D"
                   target="_blank">Link til Blockuino koden fra 5. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147976523" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 5</h1>

            <p>I dag pakker vi ut et 3D printet mini-trafikklys. Traffikklyset kan vi montere på toppen av LED lampene
                våre slik at vi kan simulere et ekte trafikklys!</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOwAGe7NQBaJrwGChAMy0FCDUoOGUwJRQANQBBACVeCAU1YHxA4LV%2BPwCgkLCIqLlFXh0MNIyQ7L9gOAUQDGqckTEpGXko1U0dfUNjUwsrG2SfHObK0PDI1DjEnmS1AHENCAq8rN8x3MyC6ZRiux4ytcymsdr6xs2toVEJaQOVdW1dAyMTWjNLWmtbUZvxutdlFZkkUotaNQ4HATlVrgDgBNgagDqU4OV0uszgi6g1sQDbq0Hh0nt1XggFBgNNh%2FgTzggMMoMApIujkSgKVSafi6YIWvd2opSS99JzBj9hod4bzmpYIBoFOzQTyZTU7m1HiguiLxb8RirVTUkVMQQkwalMadpYa%2Bfh1ZIDby0nKFY66cAXYqTahvnqvsp5VKbTd%2BRqSVrnj1dZLBoHacHzsbCj6hrZYwreEwmLCNgnznaiW6Cc6A67raqLnjy4bQ8ShRGyaLKdG%2FkWZR7S17kzEzW2K%2FbBZ1I69fZL43mtoigd6e3MFstVpa4ROQwX7n33fhPRvi572aO057xyvCQLNdqowfkumgyfJ0m9lf%2FXGeExnDmd5v7Z%2FV9vqzbKyuO9mgHc9hybDAW31f88w7QMlV7GCJ1rQdhUvVNoOA4sH1NOdwUhaEPyQ2C1ykH9Nz%2FLDZU7fcMOfDNyKdUDwwvEc6JvY8qO2fIZyfDieBYIiuOaUiHWIgCt07RicUuaTi2Y%2BtWP0bAdDAahDCg29hKNaduwAFQ6XgAHkAFU9IABTMoTtJqPcZ3MgBJAA5TjhJQsDG001ztKnHYZ2VBZrJsmpRLkiipPE2DcSA4K1SJVCGx1FS4DUjSn28tycNQAySh4UyLKspdc1i6j4Ps5yMp8hSh089KwoTXyeO7ALwRWIKSpC79IpPEtA3q9tov6%2Ft4o8pLVPU%2F0JVbbqsMayZ9MMvKzMsvT2o62yaPKlyhuDdyWPArydoarLZ3NCEoRhIqjprUKZuA3qy3WkSuqeoR8EGu7dtukq0g%2B4K0hetz3tkz7V0Bu9fpBiHvuQ4GqxI8GK3wBkmRZBR0R3QCfz2xSDrEahuVB4AUeZVkMHZfHCYh6q0NeNQtHoLRGQgPQiB%2BZlDtB0qFXZRztq584acS9CpswzLdL2FqLQmIaAcLAXbUo%2B67O7Pm9IATXMgBRSqAKFpS9DQBm0D0MQiF13aTqc2IAFkdZ4AAJBzFgdtaeph6GlYhv6qJxmqdXpxnmdZ9nJr9C2AJVvY%2BYj3b9YOuqFewiXcLOtqrqTycPd9yS%2BszjaytV5yNe12O9ZG%2FbPKN%2BgTbNsvLZT1Brbt3gABkjIAdTd2bs57r3fZ9qqK9xzzA6ZgMQ6ZsOx2uguea2%2BuGvj2q6MX2CTql87CIz9a5fXfOs%2F7nyo6iNXNftg%2BQ2XnVq9r6hzdn%2B9G5QZv7fbrud46veyMvkSj7cwesU%2Fa016MEZQsg17HWfoYEwECeAAFZnDvk%2FrvQBu9r5RjHsHNmU9OavW5l2aOFVH5MWHv7EW4cSHtg3r2QKKD8G2kRq9B6CgqEhhPqgM%2Bpc2EIgwa8W%2Bpt76QNmlbW2b9O7dyet%2FMSDDFYRVkUINB%2BDgHCzpgzceLMcEc0TgoghvNiG%2FyXmQkBeDdFPz8s1WhrVFwy0MV9JhsiWE8N3JtIuTkS4XzMSBYxqj9ACLrs46hz9X68Cdi7SRDDpGBN%2FPIrxWM7HlzPJXAO6jsGh1MV4uehDT4GMyZOPh%2BgdF5PMU1SWVilgEUurY4pz15Y1Lev%2FMxcF55uI8cImyKiDb%2BKEdEmsoiW48HfhE3RUSElfUaSMpRmTOkHRgeA9p%2F0TpzLgYg5B1T6k1CmTUmZo9UkTy0dPaaGz2GuKIfzY5vCfEGyKRckMNC8LSyxGMnODjjlOOeRDDhKAuGeNuYLK5B1ukPw%2Bb7fp4iP7rL%2BZ1OpUKGmxKhfE2FcUkkjxSUHfZ6SblIqEF8mOvT7oFIydiwEFiykPIXMM25oziVyLzjSnFpycnuPPgsxxhKgWsoUXNdkITBkSPocS6lNL3n0sRfS08YZUWYL2ZozFq98WzVxbk8V3iUXkLYqLLSKqdKktTvMfCF1KWwqFSqkV2rmnZM4cXFlCrfbsuNoI4F2rEzBLEaE52rsBXipNd63Oj1zVbMFYS5ZnK4lLLASspBRqEW92FXDGKorY0xsDRsn1VL422vbEmvJkN4apuzVyjNIKvwwqaUWstryv7luUQWoGKae6Vp7vW2GjbYbNpuq2m67biy1s3CTNGGM7ppqdNWrNna3opuHbaJRPrc0xVGWkWAPAgA"
                   target="_blank">Link til Blockuino koden fra 4. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147911388" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 4</h1>

            <p>I dag pakker vi opp en grønn LED lampe som vi kobler inn til Arduinoen slik at vi kan lage et
                løpelys!</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOxN7s1EwBsvAYKEAzLQUINSg4ZTAlFAA1AEEAJV4IBTVgfACgtX5ff0Dg0PDIuUVeHQxU9OCs32A4BRAMKuyRMSkZeUjVTR19Q2NTCysbJO9spoqQsIjUWISeJLUAcQ0IctzMn1GcjPyplCK7HlLVjMbq%2FFEJSVPU2vqq1Iupe8fpfZV1bV09BAUMDWx7CBUCwXFA3CgABwQkbVBAYZQYBQROAYHaRH5%2FAGnQTNS5tRTvLpfDEDWjWWwwzbASwQDQKNHTeKUzZCF74jofbqk8nDbEs4DjBnRJlzZLHSobfnnFpXSVNfA0ul8nGK%2BmTSKWMlDMyq5lUtlvFCdT76TU8nXKWkHOX8wXq1Bm7UDK28JhMcXrFlnF7KoQKy1Km0424NIPVA3tQkm76%2FbnavX81VCmYJr241qG41cx0U31pu0FRmzeZLFZpNZ50YPGWVnH%2Bq21oRJ%2B0oHNJZ101P8iMEo2cr5ti0uxtjNZCwcdg5MAAMHpHfp9YflqsbNTqoa9%2Bpl7KjXOwOjA1EMcdzS9tY5bABV2rwAPIAVUvAAVH3Oz1Tm4WUE%2BAJIAOS7TdWW3TN%2B1NQZTyAoCBQvL8U1FFJyxOd8pUXKCq3rQN0KaEN5yaHsOSJfR9zgQ9j0HQCoJg7YrxvHgH2fV8kIlbDEwDNUv1%2FAC8O7EDIz7IiT15FD0OovIW3gktljfVi02lS4eOXdjFIXGsRLOXD1OrBSUJuddK20p4wz0u4bUM2V5ThBEkQUFFrk0rc8VAwSxGoLFjKsxFkVRFtXPc6CCN3L41C0egtHhCA9CIMlESE61RM%2FXYuMo%2FC%2BN7LMBwg4TZK2cS4JFeYZOw8zV0whRV0SyIuMvABNJ8AFEUvDNLCOjNBQrQPQxCIJrRxor8%2FxiABZRqeAACR%2FBYxqK0T5KM2aV10hzisCgToxCsKIqimKLS1SDZOpdihWSlT01efiMvAvbspy6oC12STklLGaDrmizXsWnLDqtY7%2F1qhreqrVbLr0dr6E67rAape7IkGkbeAAGVvAB1F7WJK9S60%2Bg7lq%2B4GwIMIJlFkKGqxh1BDBMEmeAAVmnWdmM9W7g30zHeKci6CY28LLW28LdvNUm00q1ATrZgKWqCq7BZU6DyeFYsxUZ2XULU5mqTKlWmhF78%2Frq0bxc3M6dzWrkwYh6geq189%2Bt2OHRqR1HlcNuS0PVpSGxdqtcfd5qOfSrnQp5yLov5uKhaonWxd9o38cEijrbl2CHoKp7pOdmPXbVzOPawnPqijvWAcT9mM05wTza6y2I%2FR%2BX7d4CaprR%2FOMfzs5sbbtdTLb1L%2FdarlKeJmvivlwfqbphnxhLjW3c7%2FAfZj1vM5MjdfaX5mV9Ot6eM3rTt90%2BfWeg%2Fe5M8my7LMk%2BNKP1SdNSWAeCAA"
                   target="_blank">Link til Blockuino koden fra 3. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147824118" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 3</h1>

            <p>I dag pakker vi opp en ny LED lampe. Denne gangen er lampen gul. Vi lærer å koble og programmere denne
                slik at den blinker både i takt med og ulikt som den røde lampa vår.</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOxN7s1EwBsvAYKEAzLQUINSg4ZTAlFAA1AEEAJV4IBTVgfACgtX5ff0Dg0PDIuUVeHQxU9OCsoXxRCUkqkTEpGXlI1U0dfQQFDA1sexAnClcnFyrBYAQMZQwFCLgMfIjUbt7%2B8d9GupbFFXVtXT1ViysbJO9s7OBLCA0FJcjYhI3LoVrmorb9zpPaa1sLq9LsAKiEwstovFEslyrlMj4gdV3vUEcD8Dc7i9Nhj7uDIpY%2FmczDjAYith9WnsOocCf8kidbnYsa8QXCHqhaUSGXdeEwKLCMszNjUmiiyejlIyhcA4AoQBghRNkTsvtT9NgdGBqIZfnSmaiyaD2SgACqtXgAeQAqiaAAo2gWVA1A66Su7G20ASQAcqTEZtlZ8qQd9JyAYqXUa8agntCUmk4RGriK6knqjiI6lkdL8LL5Vis6KNqkpjM5goFsW8wrneTpEGUO0Q3oxNR1s6JqXZvNFtGUK32%2F63qKVcGfmotPQtNMIHoiH9ZrqiX6yTiPT6V%2F666PG98aadwx2t1GCjGoTwkvHQWmJimpGnUhmj1c132vd6TQBNW0AUU3ZMDSldzVPQ0EnNAW2oIh%2F2PNk%2B29GIAFk%2Fx4AAJT0AHFUMdeEh2TbNn2FJ88KEasb2HbYGybccgmUWQYMNODTxQQwTHongAFYAAYuJw8iJjIwiAJHKi930CcpxnOcF2JA9zn44FX2Y98GJIiiKV2YDmzDeShLU1kMmNWMLxhBNBT0odC1TCyXQlKUbJZJSIXfL9f1Ukjt1EkCwPoCCxGghTGMM%2BCkJQgAZC0AHU%2BIc2yCLU2ziIS4FBOSl1AM06jDlYuj3P0k8IRy9juN4synTSlk7zFCrb1SiqrPvWLUjqjyqofXM5RrSy2qPEtpm7CsurReLhTqhqUVSWAeCAA%3D%3D"
                   target="_blank">Link til Blockuino koden fra 2. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147695596" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 2</h1>

            <p>I dag pakker vi opp et koblingsbrett og en rød LED lampe. Vi lærer oss å bruke koblingsbrettet, før vi
                kobler på det røde lyset og får det til å blinke i takt med L-lampen på Arduinoen.</p>

            <p>
                <a href="http://blockuino.no/?xml=DwDwtgNgBOEHYGcC8AiAFgFwwBwFwHp8B3EgOiIGZSB7AJwHN8BGATjfxE0hQD4AoKFGAAjCNQDGAaygYAntgCmqAIa0AJgFcAlnGoB9NQvERVCvQDdVW5aIUoYqAOxN7s1EwBsvAYKEAzLQUINSg4ZTAlFAA1AEEAJV4IBTVgfACgtX5ff0Dg0PDIuUVeHQxU9OCsoXxRCUkqkTEpGXlI1U0dfQQFDA1sexAnClcnFyrBYAQMZQwFCLgMfIjUbt7%2B8d9GupbFFXVtXT1ViysbJO9s7OBLCA0FJcjYhI3LoVrmorb9zpPaa1sLq9LsAKiEwstovFEslyrlMj4gdV3vUEcD8Dc7i9Nhj7uDIpY%2FmczDjAYith9WnsOocCf8kidbnYsa8QXCHqhaUSGXdeEwKLCMszNjUmiiyejlIyhcA4AoQBghRNkTsvtT9NgdGBqIZfnSmaiyaD2SgACqtXgAeQAqiaAAo2gWVA1A66Su7G20ASQAcqTEZtlZ8qQd9JyAYqXUa8agntCUmk4RGriK6knqjiI6lkdL8LL5Vis6KNqkpjM5goFsW8wrneTpEGUO0Q3oxNR1s6JqXZvNFtGUK32%2F63qKVcGfmotPQtNMIHoiH9ZrqiX6yTiPT6V%2F666PG98aadwx2t1GCjGoTwkvHQWmJimpGnUhmj1c132vd6TQBNW0AUU3ZMDSldzVPQ0EnNAW2oIh%2F2PNk%2B29GIAFk%2Fx4AAJT0AHFUMdeEh2TbNn2FJ88KEasb2HbYGybccgmUWQYMNODTxQQwTHongAFYAAYuJw8iJjIwiAJHKi930CcpxnOcF2JA9zn44FX2Y98GJIiiKV2YDmzDeShLU1kMmNWMLxhBNBT0odC1TCyXQlKUbJZJSIXfL9f1Ukjt1EkCwPoCCxGghTGMM%2BCkJQgAZC0AHU%2BIc2yCLU2ziIS4FBOSl1AM06jDlYuj3P0k8IRy9juN4synTSlk7zFCrb1SiqrPvWLUjqjyqofXM5RrSy2qPEtpm7CsurReLhTqhqUVSWAeCAA%3D%3D"
                   target="_blank">Link til Blockuino koden fra 1. Desember</a></p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147569183" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <h1>Luke 1</h1>

            <p>I dag pakker vi opp en Arduino og en USB kabel. Vi lærer oss å koble Arduinoen til datamaskinen vår, samt
                å bruke Blockuino for å lage kildekoden til Arduinoen ved hjelp av klosser. TIl slutt lærer vi hvordan
                vi laster programmet vårt opp til Arduinoen.</p>

            <div class="figure figure-sm">
                <iframe src="https://player.vimeo.com/video/147439674" width="250" height="187" frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>