<div class="pageContent mediumBottomPadding">
    <h1>{{medlem.tittel}}</h1>

    {{#if medlem.content}}
        {{markdown medlem.content}}
    {{/if}}


</div>

<div class="mediumBottomPadding"></div>