<div class="headerIntroArea headerIntroArea-small">
    <h1>{{title}}</h1>
</div>

<div class="pageContent">
    <div class="tenMarginGap"></div>
    {{markdown updateIntro}}
    {{markdown content.content}}
</div>