<div class="pageContent">
    <h1>Din konto er registrert!</h1>
    <div>Du vil om kort til motta en epost fra Stormpath. Vennligst følg retningslinjene i eposten for å oppdatere ditt passord. </div>
</div>

<div class="mediumBottomPadding"></div>